<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 반드시 namespace 속성값을 Mapper 인터페이스와 동일한 이름을 줘야 한다. -->
<mapper namespace="org.scoula.board.mapper.BoardMapper">
    <insert id="create">
        insert into tbl_board(title, content, writer)
        values (#{title}, #{content}, #{writer})
        # LAST_INSERT_ID()는 MySQL에서 제공하는 함수로,
        # 마지막에 삽입된 행의 PK 값을 반환해준다.
        <selectKey resultType="Long" keyProperty="no" keyColumn="no" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update">
        update tbl_board set
            title = #{title},
            content = #{content},
            writer = #{writer},
            update_date = now()
        where no = #{no}
    </update>
    <delete id="delete">
        delete from tbl_board where no = #{no}
    </delete>

    <!-- id 속성값은 Mapper 인터페이스의 메서드의 이름과 일치하게 작성한다. -->
    <!--
        - resultType 속성값은 select 쿼리의 결과를 특정 클래스의 객체로 만들기 위해서 설정한다.
        - 원래는 org.scoula.board.domain.BoardVO처럼 작성해야 하지만,
          mybatis-config.xml에 typeAliases를 설정해뒀으므로 BoardVo처럼 작성할 수 있다.
    -->
    <!--
        <![CDATA[ SQL 문자열 ]]>
        - 이미 컴파일한 데이터임을 나타낸다. (문자열 속 <,> 태그 글자가 무시됨)
        - 태그 문자가 없다면 생략 가능
    -->
    <select id="getList" resultType="BoardVO">
        <![CDATA[
            select * from tbl_board
            order by no desc
        ]]>
    </select>

    <!-- get(select) 처리 -->
    <select id="get" resultType="BoardVO">
        select * from tbl_board where no = #{no}
    </select>

</mapper>