<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(student, index) in students" :key="student.id">
          {{index+1}}번 학생: {{student.name}} -
          <span v-if="student.score > 70">({{student.score}}점) [우수]</span>
          <span v-else style="color: red">({{student.score}}점)</span>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            students: [
              { id: 1, name: '김철수', score: 95 },
              { id: 2, name: '이영희', score: 55 },
              { id: 3, name: '박민수', score: 78 },
              { id: 4, name: '정지원', score: 92 },
              { id: 5, name: '최수진', score: 45 },
            ],
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
